
body{
     margin: 0px;
    padding: 0px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(pic/logo2.jpg);
        background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
        height:100vh;
    font-family: 'Roboto', sans-serif;
    
    
}
.wrapper{
    width: 400px;
    height: 420px;
    color: #000;
    top: 60%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    
}
h1{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-bottom: 8%;
    font-family: 'Roboto', sans-serif;
}
.input-group input {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #ccc;
    width: 100%;
}
label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
    color: white;
    width: 100%;
}
.input-group input[type=text], .input-group input[type=password]{
    font-family: 'Roboto', sans-serif;

    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #ccc;
}
.input-group input[type=submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    
    
}
.input-group input[type=submit]:hover{
    cursor: pointer;
}
.input-group a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    
}
.wrapper p {
    font-family: 'Roboto', sans-serif;

    color: #fff;
    
}
.bottom-text{
    color: #fff;
    
}
.bottom-text input{
    width: 10%;
    float: left;
}
.bottom-text a{
    float: right;
}
.socials {
    margin-top: 12%;
    text-align: center;
    
}
.spcials a{
    width: 30ox;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0, 5px;
}

#overlay-area{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.flex-betwien {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
p.email-label {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.id_req {font-family: 'Roboto', sans-serif;
    background: transparent;
    border: none;
    outline: none;
    color: #FFF;
    
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: right;
}




